<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mybrary, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Mybrary,
    </p>
    <p>
      Use the app on your phone an enjoy reading/sharing :)
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>